<div class="navi">
    <ul>
      <li><a href="../diapers">Diaper Inventory</a></li>
      <li><a href="../diaper-history">Diaper History</a></li>
      <li><a href="../weight">Weight History</a></li>
      <li><a href="../add-weight">Enter Weight</a></li>
    </ul>
</div>