* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A3C4BC;
  color: #232C33;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #232C33;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #efefef;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #efefef;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: none;
  position: absolute;
  background-color: #232C33;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

a {
  color: #F4B393;
}

.table {
  width: 100%;
}
.row {
  display: table-row;
  width: auto;
}
.cell {
  padding: 5px;
  display: table-cell;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #dedede;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.middle {
  vertical-align: middle;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.title {
  background-color: #009FDA;
  color: #fff;
}
.data {
  color: #009FDA;
  background-color: #fff;
}

.content{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table-data{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.footer{
  background-color: #232C33;
  padding: 14px 16px;
}


th{
  background-color: #232C33;
  color: #efefef;
  padding: 5px 5px 5px 5px;
}

tr{
  background-color: #BFD7B5;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

h2{
  padding: 5px 5px 5px 5px;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  table {
    max-width: 700px;
    border-collapse: collapse;
    border: 3px solid black;
    font-size: 20px;
  }
}